body footer {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, fit-content(100%));
}

footer .company {
    grid-column: 2 / span 2;
    grid-row: 1/2;
}

footer .resources {
    grid-column: 4 / span 2;
    grid-row: 1/2;
}

footer .community {
    grid-column: 6 / span 2;
    grid-row: 1/2;
}

footer .catalog {
    grid-column: 8 / -2;
    grid-row: 1/-1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, fit-content(100%));
}

.catalog h3 {
    grid-column: 1/-1;
    grid-row: 1/2;
}
.catalog h4 {
    grid-column: span 2;
    grid-row: 2/3;
    font-size: 0.8em;
    font-weight: 600;
}
.catalog ul.subjects {
    grid-column: 1/3;
    grid-row: 3/4;
}
.catalog ul.languages {
    grid-column: 3/-1;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 55%;
    gap: 5px;
}
ul.languages li {
    flex: 1 1 10%;
    margin-right: 10px;
}

footer .mobile {
    grid-column: 2 / span 2;
    grid-row: 2/-1;
}

footer .individual-plans {
    grid-column: 4 / span 2;
    grid-row: 2/3;
}

footer .enterprise-plans {
    grid-column: 6 / span 2;
    grid-row: 2/3;
}
.enterprise-plans h3,
.individual-plans h3 {
    padding-top: 1rem;
}

footer h3 {
    grid-column: 4 / span 2;
    grid-row: span 1;
}

footer ul {
    list-style: none;
}

footer ul li {
    line-height: 1.7;
}

footer h3 {
    font-weight: 400;
    padding-bottom: 1.3rem;
}

.mobile p {
    padding-bottom: 1rem;
}

.mobile .mobile-connector {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: repeat(2, fit-content(100%));
    gap: 5px;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px 5px;
    width: 80%;
    cursor: pointer;
}

.mobile-connector i {
    grid-area: 1/1/-1/2;
    font-size: 1.3rem;
    align-self: center;
    justify-self: center;
}

.mobile-connector p {
    grid-area: 1/2/2/2;
    font-size: 0.7em;
    line-height: 1;
    padding-bottom: 0;
}

.mobile-connector h3 {
    grid-area: 2/2/3/3;
    line-height: 1;
    padding-bottom: 0;
}

footer .footer-end {
    grid-column: 2/-2;
    grid-row: -2/-1;
    font-size: 0.8em;
    border-top: 1px solid black;
    padding: 1rem 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

footer .footer-end .fa-heart {
    color: red;
}

.footer-end span a {
    text-decoration: none;
    color: black;
}
.footer-end span a:hover {
    color: var(--var-bg-3);
}
