@media screen and (min-width: 1200px) {
    section.stories {
        grid-template-columns: repeat(4, 1fr);
    }
    .profile-card h3,
    .profile-card p {
        padding-right: 2rem;
    }
}

@media screen and (max-width: 1024px) {
    .top-nav .right-bar {
        gap: 1rem;
        justify-content: flex-end;
    }
    .right-bar a {
        font-size: 0.9em;
        width: 60%;
    }
    .right-bar i.fa-bars {
        display: block;
    }
    .right-bar svg {
        display: none;
    }

    .top-nav {
        justify-content: space-between;
    }

    .top-nav ul {
        display: none;
    }
    .top-nav svg,
    .top-nav .right-bar {
        flex: none;
    }

    .login-img img {
        width: 80%;
    }

    div.detail-1 {
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, fit-content(100%));
    }
    .detail-1 ul {
        grid-area: 3/1/4/2;
    }
    .detail-1 img {
        grid-area: 2/1/3/2;
        width: 65%;
        justify-self: start;
    }
    section.sign-up {
        gap: 10px;
    }
    section.sign-up h2 {
        line-height: 1.2;
    }
    section.sign-up button {
        line-height: 1.5;
    }
    body footer {
        gap: 15px;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(6, fit-content(100%));
    }
    footer .catalog {
        border-top: 1px solid black;
        padding-top: 1rem;
        grid-column: 2/-2;
        grid-row: -3/-2;
    }

    .mobile .mobile-connector {
        width: 70%;
    }

    footer h3 {
        grid-column: 4 / span 2;
    }
    footer .footer-end {
        flex-direction: column;
        align-content: center;
    }
    footer .footer-end p {
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    body {
        grid-template-columns: repeat(24, 1fr);
    }
    section.body {
        flex-direction: column;
        justify-content: center;
        width: 70%;
        margin: auto;
    }
    section.body .login-img {
        display: flex;
        justify-content: center;
    }
    .login-img img {
        flex: 0 0 300px;
    }
    section.body .login-form {
        flex: 0 0 300px;
    }
    div.detail-1 {
        grid-column: 1/-1;
        padding: 0px 25px;
    }
    section.goal .career-boxes {
        grid-template-columns: 1fr;
    }
    section.stories {
        grid-template-columns: 1fr;
    }
    .profile-card img {
        height: auto;
    }
    .detail-2 h2 {
        grid-column: 2 / span 4;
    }
    .detail-2 .stats {
        grid-column: -6 / span 3;
        display: flex;
        flex-direction: column;
        justify-self: center;
    }
    .stats h2 {
        text-align: center;
    }

    section.quiz h2 {
        grid-area: 1/2/2/7;
    }
    section.quiz p,
    section.quiz button {
        grid-column: 2/5;
    }
    section.quiz button {
        line-height: 3em;
    }
    section.quiz img {
        grid-column: -6/-2;
    }
    .business-plans h4,
    .business-plans h2,
    .business-plans p,
    .business-plans button {
        grid-column: 2/6;
    }

    .business-plans .clients {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 15px;
    }
    .clients img {
        width: 70%;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    section.sign-up h2,
    section.sign-up p,
    section.sign-up button {
        grid-column: -6/-2;
    }
    section.sign-up button {
        line-height: 2;
    }
    body footer {
        grid-template-columns: 10px repeat(10, 1fr) 10px;
    }
    footer .company {
        grid-column: 2 / span 5;
    }
    footer .resources {
        grid-column: span 4;
    }
    footer .community {
        grid-column: -7 / span 5;
        grid-row: 2/3;
    }
    footer h3 {
        grid-column: 2 / 7;
    }
    footer .mobile {
        grid-row: -4/-3;
        grid-column: 2/-2;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(2, fit-content(100%));
    }
    .mobile p {
        grid-column: 1/-1;
    }
    .mobile-connector p {
        grid-column: 2/-1;
    }
    .mobile .mobile-connector:nth-child(2) {
        grid-column: 1/5;
    }
    .mobile .mobile-connector:nth-child(3) {
        grid-column: -5/-1;
        justify-self: end;
    }
    footer h3:nth-child(8) {
        grid-column: 2 / span 3;
        grid-row: 2/3;
    }
    footer h3:nth-child(9) {
        grid-column: 5 / span 2;
        grid-row: 2/3;
    }

    footer .catalog {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, fit-content(100%));
    }
    .catalog ul.languages {
        grid-column: 1/-1;
    }
    .catalog ul.subjects {
        grid-row: 5/6;
    }
    .catalog h4:nth-child(2) {
        grid-column: 1/-1;
        grid-row: 4/5 !important;
    }
    footer .individual-plans {
        grid-column: 2 / span 5;
        grid-row: 3/4;
    }
    footer .enterprise-plans {
        grid-column: 7 / span 5;
        grid-row: 3/4;
    }
}

@media screen and (max-width: 480px) {
    section.quiz {
        grid-template-rows: repeat(4, fit-content(100%));
        gap: 20px;
    }
    section.quiz h2,
    section.quiz p,
    section.quiz button {
        grid-column: 2/-2;
        grid-row: span 1;
    }
    section.quiz img {
        grid-column: 2/-2;
        grid-row: 1/2;
    }
    section.business-plans {
        grid-template-rows: repeat(5, fit-content(100%));
        gap: 20px;
    }
    .business-plans .clients {
        grid-row: -2/-1;
        grid-column: 2/-1;
    }
    .business-plans h4,
    .business-plans h2,
    .business-plans p {
        grid-column: 2/-2;
    }
    .business-plans button {
        grid-column: 2/-2;
        margin-bottom: 20px;
    }
    section.sign-up {
        grid-template-rows: repeat(4, fit-content(100%));
        gap: 20px;
    }
    section.sign-up img {
        grid-row: 1/2;
        grid-column: 2/-2;
    }
    section.sign-up h2,
    section.sign-up p,
    section.sign-up button {
        grid-column: 2/-2;
        grid-row: span 1;
    }
    .mobile .mobile-connector:nth-child(2) {
        grid-column: 1/8;
        grid-row: 4/5;
    }
    .mobile .mobile-connector:nth-child(3) {
        grid-column: -8/-1;
        grid-row: 4/5;
        justify-self: end;
    }
}
